<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @autoridad.name %>
</p>

<%= link_to 'Editar', edit_autoridad_path(@autoridad) %> |
<%= link_to 'Regresar al Listado', autoridads_path %>
