<h1>Backoffice Configuration</h1> 
<h1 class="pure-menu-item"></h1>


<div class="pure-menu ">
    <table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th><a href="/industry_types" class="button-xlarge pure-button">Rubro/Actividad</a></th>
      <th><a href="/frecuencies" class="button-xlarge pure-button">Frecuencias</a></th>
      <th><a href="/studies" class="button-xlarge pure-button">Estudios </a></th>
      <th><a href="/entities" class="button-xlarge pure-button">Entidades</a></th> 
      <th><a href="/localidad_partidos" class="button-xlarge pure-button">Localidad y Partidos </a></th> 
    </tr>
  </thead>

</div>
